<div class="mx-auto">
  <div class="flex justify-center items-center h-12 bg-custom-color1 mb-0">
    <p class="flex-grow text-center text-white text-1xl font-roboto">Sign up and get your first order.
      <a href="#" class="underline">Sign Up Now</a>
    </p>
    <button class="ml-auto mr-20">
      <img ngSrc="assets/img/close.png" height="20" width="20">
    </button>
  </div>

  <div class="mt-7 mx-auto mb-3 max-w-screen-2xl">
    <div class="flex items-center justify-center flex-1 gap-10">
      <!-- page img-->
      <div class="">
        <img ngSrc="assets/img/pageimg.png" height="67" width="237" routerLink="/">
      </div>


      <!-- home button-->
      <div class="flex gap-6 font-roboto text-1xl test-base">
        <button class="border border-white bg-custom-color1 rounded-full hover:bg-gray-200 gap-1 p-2 text-white" routerLink="/">Home</button>
        <div class="flex text-black gap-6">
          <button>Sell</button>
          <button class="whitespace-nowrap font">About us</button>
        </div>
      </div>
      <!-- search bar-->
      <div class="bg-custom-color2 text-white flex items-center rounded-full h-14 w-full gap-1 py-3 px-4">
        <div class="px-4">
          <img ngSrc="assets/img/search.png" height="24" width="24">
        </div>
        <input type="text" placeholder="Search for products... "
               class="bg-transparent text-black px-4 py-2 focus:outline-none w-11/12">
      </div>
      <div class="flex gap-4">
        <!-- heart icon-->
        <img ngSrc="assets/img/user.png" height="24" width="24" routerLink="/signup">
        <!-- user icon-->
        <img ngSrc="assets/img/heart.png" height="24" width="24">
      </div>
    </div>
  </div>








</div>
