<div class="bg-white">
  <div class="mx-auto">
    <img ngSrc="assets/img/footer.png" height="1178" width="3960" alt="">
  </div>
</div>
<!--
<div class="flex max-w-screen-2xl mx-auto my-10 h-auto">
  <div class="flex flex-row bg-custom-color1 rounded-xl w-full h-auto p-10 justify-center items-center">
    <div class="w-1/2">
      <a class="text-5xl text-white font-bold font-roboto uppercase">STAY UPTO DATE ABOUT OUR LATEST Auctions</a>
    </div>
    <div class="flex flex-col w-1/2 h-5/6">
      <div class="flex flex-row w-9/12 h-1/2 ml-auto bg-white rounded-full py-3 mb-3">
        <img class="h-auto w-auto pl-4 pr-3" src="assets/img/emailicon.png">
        <input type="text" placeholder="Enter your email address "
               class="bg-transparent text-black text-xl font-roboto focus:outline-none w-11/12">
      </div>
      <div class="rounded-full w-9/12 h-2/5 bg-white ml-auto">
        <button class="text-custom-color4 text-xl font-roboto w-full h-full py-3">Subscribe to Newsletter</button>
      </div>
    </div>
  </div>

</div>
-->



