<div class="flex bg-custom-color2 w-auto" style="height: 675px">
  <div class="h-full w-1/2 flex items-center justify-center">
    <div class="" style="width: 577px">
      <p class="text-left font-bold font-roboto text-custom-color4" style="font-size: 64px">YOUR GATEWAY TO EXCITING AUCTIONS</p>
    </div>
  </div>
  <div class="h-full w-1/2 bg-blue-500">

  </div>
</div>

<div class="bg-custom-color1 w-auto h-112 flex justify-center items-center text-white" style="height: 112px">
  <span class="font-roboto font-extrabold" style="font-size: 48px">ONGOING AUCTION</span>
</div>


<div class="bg-white w-auto h-1/3 min-h-96">


</div>
