<div class="mx-auto mb-10">
  <div class="bg-custom-color2">
    <div class="flex flex-col md:flex-row w-auto h-auto max-w-screen-2xl mx-auto">
      <div class="h-fit md:w-1/2 flex items-center justify-center md:mt-16 my-10 max-w-screen-xl ">
        <!--Text-->
        <div class="space-y-7 mx-auto">
          <p class="font-roboto text-left font-bold text-custom-color4 text-7xl">YOUR GATEWAY TO
            EXCITING AUCTIONS</p>
          <p class="font-roboto text-left text-custom-color4 text-xl">Discover treasures at BidBuyy - where
            bidding
            meets buying. Join
            online auctions and find unique items to buy and sell with excitement!</p>`
          <!--Event Time-->
          <div style="margin: 10px">
            <!--Days-->
            <div class="flex gap-x-6 font-poppins mt-0">
              <div class="rounded-full w-20 h-20 bg-black text-white text-center flex items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                  <p class="inCircleNum">5</p>
                  <p class="inCircleText">Days</p>
                </div>
              </div>
              <!--Hours-->
              <div class="rounded-full w-20 h-20 bg-black text-white text-center flex items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                  <p class="inCircleNum">23</p>
                  <p class="inCircleText">Hours</p>
                </div>
              </div>
              <!--Minutes-->
              <div class="rounded-full w-20 h-20 bg-black text-white text-center flex items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                  <p class="inCircleNum">59</p>
                  <p class="inCircleText">Minutes</p>
                </div>
              </div>
              <!--Seconds-->
              <div class="rounded-full w-20 h-20 bg-black text-white text-center flex items-center justify-center">
                <div class="flex flex-col items-center justify-center">
                  <p class="inCircleNum">30</p>
                  <p class="inCircleText">Seconds</p>
                </div>
              </div>
            </div>

          </div>
          <!--Button-->
          <button class="w-60 h-14 bg-custom-color1 rounded-full font-roboto text-white text-xl">
            Bid Now
          </button>
        </div>
      </div>
      <div class="h-full w-full md:w-1/2 flex justify-end">
        <img class="object-right max-h-96 md:max-h-full md:w-auto" src="assets/img/banner1.png" alt="" width="650">
      </div>
    </div>
  </div>

  <div class="bg-custom-color1 w-auto flex justify-center items-center text-white md:h-32">
    <span class="font-roboto font-extrabold" style="font-size: 48px">ONGOING AUCTION</span>
  </div>

  <div class="bg-white w-auto h-1/4 min-h-96">
    <div class="bg-white mx-auto max-w-screen-2xl">
      <div class="py-16 sm:px-0 sm:py-16">
        <h2 class="sr-only">Products</h2>
        <div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
          <!--product 1-->
          <a class="group" routerLink="/product-detail">
            <div
              class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="assets/img/product1.png" alt=""
                   class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-xl font-roboto text-custom-color4">Product Name</h3>
            <div class="flex mt-1 text-2xl font-roboto text-custom-color4 font-bold gap-1">
              <p>48</p>
              <p>USD</p>
            </div>
          </a>
          <!--product 2-->
          <a class="group">
            <div
              class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="assets/img/product2.png" alt=""
                   class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-xl font-roboto text-custom-color4">Product Name</h3>
            <div class="flex mt-1 text-2xl font-roboto text-custom-color4 font-bold gap-1">
              <p>48</p>
              <p>USD</p>
            </div>
          </a>
          <!--product 3-->
          <a class="group">
            <div
              class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="assets/img/product3.png" alt=""
                   class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-xl font-roboto text-custom-color4">Product Name</h3>
            <div class="flex mt-1 text-2xl font-roboto text-custom-color4 font-bold gap-1">
              <p>48</p>
              <p>USD</p>
            </div>
          </a>
          <!--product 4-->
          <a class="group">
            <div
              class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="assets/img/product4.png" alt=""
                   class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-xl font-roboto text-custom-color4">Product Name</h3>
            <div class="flex mt-1 text-2xl font-roboto text-custom-color4 font-bold gap-1">
              <p>48</p>
              <p>USD</p>
            </div>
          </a>
          <!--product 5-->
          <a class="group">
            <div
              class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
              <img src="assets/img/product5.png" alt=""
                   class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <h3 class="mt-4 text-xl font-roboto text-custom-color4">Product Name</h3>
            <div class="flex mt-1 text-2xl font-roboto text-custom-color4 font-bold gap-1">
              <p>48</p>
              <p>USD</p>
            </div>
          </a>
          <!-- More products... -->
        </div>
        <!--Button-->
        <div class="flex items-center justify-center">
          <button class="bg-custom-color1 rounded-full h-14 w-48 text-white text-xl">
            View All
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="border-b border-gray-200 mx-24 my-6"></div>

  <div class=" w-auto max-w-screen-2xl mx-auto my-10 flex justify-center items-center text-custom-color4 md:h-112px">
    <span class="font-roboto font-extrabold" style="font-size: 48px">Browse By Categories</span>
  </div>

  <!-- Catalog-->
  <div class="w-auto p-6 max-w-screen-2xl mx-auto">

    <!-- Card Container Start -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-10 justify-center text-2xl ">
      <!--HeadPhones-->
      <button class="flex flex-col rounded-lg w-5/6 max-w-96 items-center justify-center mx-auto border-2"
              [ngStyle]="getButtonStyles(0)"
              (mouseover)="setHovered(0, true)" (mouseout)="setHovered(0, false)">
        <img ngSrc="assets/img/catalog1.png" alt="" class="h-36 w-auto m-6" height="221" width="222">
        <h2 class="text-center font-poppins pb-5">HeadPhones</h2>
      </button>
      <!--Gaming-->
      <button class="flex flex-col rounded-lg w-5/6 max-w-96 items-center justify-center mx-auto border-2"
              [ngStyle]="getButtonStyles(1)"
              (mouseover)="setHovered(1, true)" (mouseout)="setHovered(1, false)">
        <img ngSrc="assets/img/catalog2.png" alt="" class="h-36 w-auto m-6" height="221" width="222">
        <h2 class="text-center font-poppins pb-5">Gaming</h2>
      </button>
      <!--Computers-->
      <button class="flex flex-col rounded-lg w-5/6 max-w-96 items-center justify-center mx-auto border-2"
              [ngStyle]="getButtonStyles(2)"
              (mouseover)="setHovered(2, true)" (mouseout)="setHovered(2, false)">
        <img ngSrc="assets/img/catalog3.png" alt="" class="h-36 w-auto m-6" height="221" width="222">
        <h2 class="text-center font-poppins pb-5">Computers</h2>
      </button>
      <!--Phones-->
      <button class="flex flex-col rounded-lg w-5/6 max-w-96 items-center justify-center mx-auto border-2"
              [ngStyle]="getButtonStyles(3)"
              (mouseover)="setHovered(3, true)" (mouseout)="setHovered(3, false)">
        <img ngSrc="assets/img/catalog4.png" alt="" class="h-36 w-auto m-6" height="221" width="222">
        <h2 class="text-center font-poppins pb-5">Phones</h2>
      </button>
      <!--Camara-->
      <button class="flex flex-col rounded-lg w-5/6 max-w-96 items-center justify-center mx-auto border-2"
              [ngStyle]="getButtonStyles(4)"
              (mouseover)="setHovered(4, true)" (mouseout)="setHovered(4, false)">
        <img ngSrc="assets/img/catalog5.png" alt="" class="h-36 w-auto m-6" height="221" width="222">
        <h2 class="text-center font-poppins pb-5">Camara</h2>
      </button>
      <!--SmartWatch-->
      <button class="flex flex-col rounded-lg w-5/6 max-w-96 items-center justify-center mx-auto border-2"
              [ngStyle]="getButtonStyles(5)"
              (mouseover)="setHovered(5, true)" (mouseout)="setHovered(5, false)">
        <img ngSrc="assets/img/catalog6.png" alt="" class="h-36 w-auto m-6" height="221" width="222">
        <h2 class="text-center font-poppins pb-5">SmartWatch</h2>
      </button>

    </div>
  </div>
</div>
