@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .inCircleNum{
    font-weight: bold;
    margin-bottom: -10px;
    font-size: 22px;
  }
  .inCircleText{
    font-size: 14px;
  }
}
.bg-custom-hover-color {
  background-color: #7B2334;
}

