<div class="flex max-w-screen-2xl mx-auto my-10 h-auto">
  <div class="flex w-3/5 h-auto py-10">
    <div class="flex flex-col w-1/6 h-auto gap-y-7">
      <div class="">
        <img class="max-h-24" src="/assets/img/productdetail1.png">
      </div>
      <div class="">
        <img class="max-h-24" src="/assets/img/productdetail1.png">
      </div>
      <div class="">
        <img class="max-h-24" src="/assets/img/productdetail1.png">
      </div>
      <div class="">
        <img class="max-h-24" src="/assets/img/productdetail1.png">
      </div>
    </div>
    <div class="w-5/6">
      <img class="max-w-screen-md" src="/assets/img/productdetail1.png">
    </div>
  </div>
  <div class="flex flex-col w-2/5 h-auto p-10">
    <div class="h-auto w-auto">
      <div class="mb-4">
        <a class="text-4xl font-inter font-semibold">xyz instrument</a>
      </div>
      <div class="mb-4">
        <a class="text-xl font-roboto text-custom-color4 ">Time left 4d 20h (Sat, 02:39 PM)</a>
      </div>
      <div class="mb-6">
        <a class="text-3xl font-inter">RS.192,00</a>
      </div>
      <div class="mb-6">
        <a class="text-xl font-poppins">PlayStation 5 Controller Skin High quality vinyl with air channel adhesive for
          easy bubble free install & mess free removal Pressure sensitive. free install & mess free removal Pressure
          sensitive.</a>
      </div>
      <div class="mb-6">
        <div class="border-t-2 border-black w-full"></div>
      </div>
      <div class="flex flex-row mb-10">
        <button class="bg-custom-color1 text-white text-xl font-poppins w-10/12 py-3 rounded-xl mr-10">Buy Now</button>
        <img class="max-h-12" src="assets/img/wishlisticon.png">
      </div>
      <div class="mb-10">
        <img class="h-auto w-auto" src="assets/img/ship.png">
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col max-w-screen-2xl mx-auto my-10 h-auto p-10 border-gray-400 border-2 rounded-xl">
  <a class="text-2xl font-inter font-semibold mb-5">About this item</a>
  <a class="text-xl font-inter">Lorem ipsum dolor sit amet consectetur. Vestibulum purus aliquam purus vel sed. Eu
    ornare enim tincidunt hendrerit libero commodo vitae netus magnis. Id at eget est id velit non in nulla tincidunt.
    Ultricies neque ac adipiscing

    ugiat leo scelerisque vulputate posuere. Habitant pellentesque posuere et nunc. Amet erat nibh scelerisque proin
    sollicitudin nisl vitae. Pretium eget dolor auctor velit commodo blandit lacus adipiscing. Mollis tristique orci
    varius urna integer egestas sagittis. Mauris iaculis diam feugiat gravida aliquam lobortis viverra. Volutpat
    ultrices libero augue ut justo cursus eget a. Mi sed tortor ac sed massa venenatis sed pretium.
    Lorem ipsum dolor sit amet consectetur. Vestibulum purus aliquam purus vel sed. Eu ornare enim tincidunt hendrerit
    libero commodo vitae netus magnis. Id at eget est id velit non in nulla tincidunt. Ultricies neque ac adipiscing
    turpis nunc orci fringilla tristique. In scelerisque velit dui eleifend pellentesque volutpat cras vitae. Diam urna
    purus cursus sit.

    auctor velit commodo blandit lacus adipiscing. Mollis tristique orci varius urna integer egestas sagittis. Mauris
    iaculis diam feugiat gravida aliquam lobortis viverra. Volutpat ultrices libero augue ut justo cursus eget a. Mi sed
    tortor ac sed massa venenatis sed pretium.</a>
</div>
