<div class="w-auto p-6 max-w-screen-2xl mx-auto">
  <div class="wrapper">
    <div class="header-product">
      <ul class="menu-items">
        <li><a href="#" class="product-item">Home</a></li>
        <li>
          <a href="#" class="product-item"></a>
        </li>
        <li><a href="#" class="product-item">Category</a></li>
        <li><a href="#" class="product-item">></a></li>
        <li><a href="#" class="product-item">Instrument</a></li>
      </ul>
    </div>

    <div class="container">
      <div class="ct-left">
        <img
          src="./image/Frame 894.png"
          alt=""
          height="77.74"
          width="95.77"
        />
        <img
          src="./image/Frame 894.png"
          alt=""
          height="77.74"
          width="95.77"
        />
        <img
          src="./image/Frame 894.png"
          alt=""
          height="77.74"
          width="95.77"
        />
        <img
          src="./image/Frame 894.png"
          alt=""
          height="77.74"
          width="95.77"
        />
      </div>
      <div class="ct-mid">
        <img src="" alt="" />
      </div>
      <div class="ct-right">

        <hr class="new4">
        <div class="item-ct-right">
          <div class="button">
            <a href="" class="button-ct-rignt">Bid Now</a>
          </div>

        </div>
        <div class="box-boder-right">
          <div class="box-top">
            <a href="" class=""><i class="fa-solid fa-code"></i></a>

          </div>
        </div>

        <div class="box-bottom">
          <div class="item-top">
            <p class="p1" >Shipping</p>
            <p >Rs. 100 per order</p>
          </div>
          <hr class="new4">
          <div class="item-top">
            <p>Delivery</p>
            <p>Estimated between Thu, Jan 4 and Fri, Jan 12</p>
          </div>
        </div>

      </div>
    </div>

    <div class="container-2">
      <p class="p1">
        About this item
      </p>
      <p class="p2">
        Lorem ipsum dolor sit amet consectetur. Vestibulum purus aliquam purus vel sed. Eu ornare enim tincidunt hendrerit libero commodo vitae netus magnis. Id at eget est id velit non in nulla tincidunt. Ultricies neque ac adipiscing
      </p>
      <p class="p2">
        ugiat leo scelerisque vulputate posuere. Habitant pellentesque posuere et nunc. Amet erat nibh scelerisque proin sollicitudin nisl vitae. Pretium eget dolor auctor velit commodo blandit lacus adipiscing. Mollis tristique orci varius urna integer egestas sagittis. Mauris iaculis diam feugiat gravida aliquam lobortis viverra. Volutpat ultrices libero augue ut justo cursus eget a. Mi sed tortor ac sed massa venenatis sed pretium.
        Lorem ipsum dolor sit amet consectetur. Vestibulum purus aliquam purus vel sed. Eu ornare enim tincidunt hendrerit libero commodo vitae netus magnis. Id at eget est id velit non in nulla tincidunt. Ultricies neque ac adipiscing turpis nunc orci fringilla tristique. In scelerisque velit dui eleifend pellentesque volutpat cras vitae. Diam urna purus cursus sit.
      </p>
      <p class="p2">
        uctor velit commodo blandit lacus adipiscing. Mollis tristique orci varius urna integer egestas sagittis. Mauris iaculis diam feugiat gravida aliquam lobortis viverra. Volutpat ultrices libero augue ut justo cursus eget a. Mi sed tortor ac sed massa venenatis sed pretium.
      </p>
    </div>
  </div>


</div>
